.login_page {
  background-image: url("assets/img/loginback.jpg");
}
.k-tabstrip-next{
	display: block;
    right: 0;
    float: right !important;
    left: auto !important;
}
.login_page .user_avatar1 {
  width: 296px !important;
  height: 213px !important;
  background-image: url(assets/img/bs1.png) !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.sidebar_logo a img {
    width: 120px !important;
    height: 88px !important;
}
.sidebar_logo a {
    margin-left: 78px !important;
    margin-top: 25px !important;
}
.sidebar_logo {
    height: 139px !important;
}
.sidebar_main_header {
    height: 139px !important;
}