<div id="page_content">
    <div id="top_bar">
        <div ncy-breadcrumb></div>
    </div>
    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-content">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1 iconBtn">
                        <kendo-grid options="pmenuGrid"></kendo-grid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-include="'app/views/footer.html'"></div>

<div class="uk-modal" id="modal_update">
    <div class="uk-modal-dialog uk-modal-dialog-large" data-uk-grid-margin>
        <button type="button" class="uk-modal-close uk-close uk-close-alt"></button>
        <h3 class="heading_a">Системийн байгууллага</h3>
        <form name="form_crit_dir" id="form_crit_dir" data-ng-submit="submitForm($event)">
            <input type="hidden"  class="menu" ng-model="id" value="{{id}}"/>
            <hr style="margin-bottom:20px;">
            <div class="uk-margin-large-bottom">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1 uk-margin-medium-top">
                        <div class="uk-grid uk-margin-medium-bottom" data-uk-grid-margin>
                            <div class="uk-width-medium-1-3">
                                <div class="uk-input-group">
				                        	<span class="uk-input-group-addon">
				                            	<i class="md-list-addon-icon material-icons">account_balance</i>
				                            </span>
                                    <div class="parsley-row uk-form-row">
                                        <label for="departmentname">Байгууллагын нэр</label>
                                        <input class="md-input" type="text" id="departmentname" name="departmentname"
                                               ng-model="formdata.departmentname" md-input
                                               data-parsley-required data-parsley-error-message="Нэрээ оруулна уу"/>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-medium-1-3">
                                <div class="uk-input-group">
				                        	<span class="uk-input-group-addon">
				                            	<i class="md-list-addon-icon material-icons">account_balance</i>
				                            </span>
                                    <div class="parsley-row uk-form-row">
                                        <label for="shortname">Товчилсон нэр</label>
                                        <input class="md-input" type="text" id="shortname" name="shortname"
                                               ng-model="formdata.shortname" md-input
                                               data-parsley-required data-parsley-error-message="Нэрээ оруулна уу"/>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-medium-1-3">
                                <div class="uk-input-group">
				                        	<span class="uk-input-group-addon">
				                            	<i class="md-list-addon-icon material-icons">domain</i>
				                            </span>
                                    <div class="parsley-row uk-form-row">
                                        <label for="reg">УБ-н дугаар</label>
                                        <input class="md-input" required type="number" id="reg" name="reg"
                                               ng-model="formdata.reg" md-input/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="uk-grid uk-margin-medium-bottom" data-uk-grid-margin>
                            <div class="uk-width-medium-1-3">
                                <div class="uk-input-group">
				                        	<span class="uk-input-group-addon">
				                            	<i class="md-list-addon-icon material-icons">mail_outline</i>
				                            </span>
                                    <div class="parsley-row uk-form-row">
                                        <label for="email">Цахим шуудан</label>
                                        <input class="md-input" type="email" id="email" name="email"
                                               ng-model="formdata.email" md-input/>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-medium-1-3">
                                <div class="uk-input-group">
				                        	<span class="uk-input-group-addon">
				                            	<i class="md-list-addon-icon material-icons">web</i>
				                            </span>
                                    <div class="parsley-row uk-form-row">
                                        <label for="web">Веб хуудас</label>
                                        <input class="md-input" type="text" id="web" name="web" ng-model="formdata.web"
                                               md-input/>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-medium-1-3">
                                <div class="uk-input-group">
				                        	<span class="uk-input-group-addon">
				                            	<i class="md-list-addon-icon material-icons">phone</i>
				                            </span>
                                    <div class="parsley-row uk-form-row">
                                        <label for="phone">Утас</label>
                                        <input class="md-input" type="text" id="phone" name="phone"
                                               ng-model="formdata.phone" md-input/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="uk-grid uk-margin-medium-bottom" data-uk-grid-margin>
                            <div class="uk-width-medium-1-1">
                                <div class="uk-input-group">
				                        	<span class="uk-input-group-addon">
				                            	<i class="md-list-addon-icon material-icons">location_city</i>
				                            </span>
                                    <div class="parsley-row uk-form-row">
                                        <label for="address">Хаяг</label>
                                        <input class="md-input" type="text" id="address" name="address"
                                               ng-model="formdata.address" md-input/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="uk-grid" data-uk-grid-margin>
                            <div class="uk-width-large-1-3">
                            </div>
                            <div class="uk-width-large-1-3">
                                <div class="uk-input-group">
				                        	<span class="uk-input-group-addon">
				                            	<i class="md-list-addon-icon material-icons">&#xE7F9;</i>
				                            </span>
                                    <div class="parsley-row uk-form-row">
                                        <label class="slabel"> Багц</label>
                                        <selectize type="text" ng-model="formdata.plan" class="md-input" required
                                                   placeholder="Сонгоно уу..."
                                                   position="bottom" config="selectize_isfile_config"
                                                   options="plan_options"></selectize>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-large-1-3">
                                <div class="uk-input-group">
				                        	<span class="uk-input-group-addon">
				                            	<i class="md-list-addon-icon material-icons">&#xE7F9;</i>
				                            </span>
                                    <div class="parsley-row uk-form-row">
                                        <label class="slabel"> Идэвхтэй эсэх</label>
                                        <selectize ng-change="fch(formdata.isactive)" type="text"
                                                   ng-model="formdata.isactive" class="md-input"
                                                   placeholder="Сонгоно уу..." id="isactive"
                                                   position="bottom" config="selectize_isfile_config"
                                                   options="selectize_isfile_options" name="isactive"></selectize>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="uk-modal-footer uk-text-right">
                <button type="submit"
                        class="md-btn md-btn-primary md-btn-wave-light waves-effect waves-button waves-light">Хадгалах
                </button>
                <button type="button" class="md-btn md-btn-flat uk-modal-close">Хаах</button>
            </div>
        </form>
    </div>
</div>

<script type="text/x-kendo-template" id="add">
	<button class="k-button k-button-icontext" ng-click="org()"><span class="k-icon k-i-plus"></span>Нэмэх</button>
</script>
<script type="text/x-kendo-template" id="update">
	<button class="k-button k-button-icontext k-grid-custom " ng-click="edit(dataItem)"><span
			class="k-icon k-i-edit"></span></button>
	<button class="k-button k-button-icontext k-grid-delete"><span
			class="k-icon k-i-delete"></span></button>
</script>


     

    
